.form-container {
  width: 50%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em;
}
.alertBanner {
  width: 50%;
  margin: auto;
  margin-top: 2em;
}

.login-container {
  display: flex;
  justify-content: space-around;
}
.login-LeftSide {
  width: 50%;
}
.login-RightSide {
    width: 50%;
    margin: 4em;
}
.login-image {
  width: 650px;
}

@media screen and (max-width: 1100px) {
  .login-container {
    display: flex;
    flex-direction: column-reverse; /* This will reverse the order of elements */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
  }
  .login-LeftSide {
    width: 80%;
  }
  .login-RightSide {
    width: 80%;
}
.login-image {
    width: 100%;
  }
}
